[Unit]
Description=Fcitx5 VMK Server for %i
After=multi-user.target udev.target

[Service]
User=uinput_proxy
Group=input

CapabilityBoundingSet=CAP_SYS_NICE CAP_SYS_PTRACE
AmbientCapabilities=CAP_SYS_NICE CAP_SYS_PTRACE
ProtectProc=default
ProcSubset=all

Type=simple

ExecStart=/usr/bin/fcitx5-vmk-server -u %i

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target