#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all optimize=-lto
export DEB_CFLAGS_MAINT_STRIP   = -g
export DEB_CXXFLAGS_MAINT_STRIP = -g

%:
	dh $@

override_dh_dwz:
	@echo "Skipping dh_dwz (incompatible with Go/mixed debug sections)"